---
---

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#D2B48C]; /* Tan background */
  @apply text-classicText;
}

.main-content {
  @apply mx-auto max-w-4xl bg-white shadow-lg; /* Example with white bg and shadow for depth */
}

/* Responsive centering with padding on smaller screens */
@media (min-width: 640px) {
  .main-content {
    @apply p-4;
  }
}

@media (min-width: 768px) {
  .main-content {
    @apply p-8;
  }
}

@media (min-width: 1024px) {
  .main-content {
    @apply p-12;
  }
}

.logo-title {
  width: 80rem;
}

@media (max-width: 768px) {
  .logo-image {
    max-height: 120px;
    width: auto;
    margin-bottom: 2rem;
  }
}

a {
  color: #7Bafd4;
}

dd {
  margin-left: 2rem;
}

.training-options {
  @apply flex flex-wrap gap-2;
}

.training-options li {
  @apply text-white px-4 py-2 rounded w-40;

  background-color: #a39470;
}

.home-section {
  @apply mt-8;
}

.home-section dt {
  @apply text-thirdTitle;
}

.home-section h2 {
  @apply text-center text-xl text-subtitle;
}

.home-section .about-me {
  @apply mr-2 ml-2;
}

.home-section .about-me h3 {
  @apply text-center text-lg;
}

.home-section .rates dt {
  @apply text-lg;
}

.home-section .rates dd {
  @apply ml-4;
}

footer {
  @apply mt-4;
}

.map-embed {
  display: flex;
  justify-content: center;
  align-items: center;
}